<launch>
  <arg name="with_filter" default="true"/>
  <arg name="frame_id" default="imu"/>
  <arg name="publish_temperature" default="false"/>
  <arg name="rate" default="100"/>
  <arg name="publish_tf" default="true"/>
  <arg name="publish_debug_topics" default="false"/>

  <node name="imu" pkg="mpu9250_node" type="mpu9250_node">
    <param name="frame_id" value="$(arg frame_id)"/>
    <param name="publish_temperature" value="$(arg publish_temperature)"/>
    <param name="rate" value="$(arg rate)"/>
  </node>

  <node if="$(arg with_filter)"
	name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node">
    <param name="use_mag" value="false"/>
    <param name="publish_tf" value="$(arg publish_tf)"/>
    <param name="publish_debug_topics" value="$(arg publish_debug_topics)"/>
  </node>

</launch>

